* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:50px 30px;
    border-radius: 5px;
    width: 500px;
}
.wrapper__won__one,
.wrapper__won__Two{
    font-size: 30px;
    color: #007C00;
    padding: 20px 0;
    padding: 5px 0;
    line-height: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: none;
}
.wrapper__heading {
    font-size: 30px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
    line-height: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.wrapper__firstInput,
.wrapper__secondInput,
.wrapper__threeInput {
    width: 100%;
    border: 1px solid #d1d1d1;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.wrapper__box2,
.wrapper__box3 {
    display: none;
}

.wrapper__firstBtn,
.wrapper__secondBtn,
.wrapper__threeBtn {
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid #7041D3;
    background: #7041D3;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 10px 0;
    font-size: 16px;
}

.wrapper__firstParaghrap {
    padding: 10px;
    border-radius: 7px;
    color: #FFFFFF;
    background: #EA4335;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: none;
}

.wrapper__samll__one {
    display: none;
}